body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page_layout {
  border: 1px solid gray;
  margin: 5%;
  border-radius: 15px;
}



.top_bar {
  background-color: rgb(227, 227, 227);
  border-bottom: 1px solid gray;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 10vh;
  
  /* padding: 3%; */
}



.top_bar_text {
  margin: 2%;
  padding-top: 1%;
  font-weight: 600;
  font-size: 2.5vh;
  overflow: hidden;
  vertical-align: text-bottom;
}

/* .list_display {
  padding-top: 1%;
  margin-top: 1%;
} */

.post_display {
  border-bottom: 1px solid gray;
  /* padding-left: 2%; */
  padding: 1%;
}
.post_display:hover {
  background-color: rgb(227, 227, 227);
}

/* .link_tags_layout {
  display: flex;
  width: 60%;
} */

.issue_link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 2.8vh;

}

.data_lables {
  color: black;
  font-weight: 600;
  font-size: 1.7vh;
  margin: 1%;
  border-radius: 20px;
  padding: 1%;
  margin-top: 1%;
  display: inline-flex;
}

.circle_prop {
  color: #1a7f37;
  overflow: visible;
  vertical-align: text-bottom;
}

@media (max-width: 1100px) {
  .issue_link {
    font-size: 1.8vh;
  
  }
  
  .data_lables {
    margin: 5%;
    padding: 0;
  }
}

@media (max-width: 500px) {

  .list_display {
    width: 160%;
  }

}
